* {padding: 0; margin: 0; border: 0; text-decoration: none;}
.clear {clear: both;}
.blueButton, .greyButton {cursor: pointer; margin: 10px;, font-weight: bold; font-size: 15px; position: relative;  width: 130px; height: 26px; text-align: center; padding-top: 8px; border-radius: 8px; border: 1px solid; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)}

.blueButton {color: #fff; background: #006dcc linear-gradient(to bottom, #0088cc, #0044cc);}
.blueButton:hover {background: #006dcc;}
.blueButton:active {background: #0044cc linear-gradient(to bottom, #0044cc, #0088cc);}

.greyButton {color: #333; background: #e6e6e6 linear-gradient(to bottom, #ffffff, #e6e6e6);}
.greyButton:hover {background: #e6e6e6;}
.greyButton:active {background: #bfbfbf linear-gradient(to bottom, #e6e6e6, #ffffff);}

.fileUpload, .fileUploadButton {position: absolute; opacity: 0; top: 0; left: 0; height: 30px; width: 130px;}

.queue {display: none; margin: 10px; width: 260px; paddin: 10px; background: #afafaf;}
.queue .queueElement {font-size: 11px; border-bottom: 1px solid #fff;}
.queue .queueElement .percent {float: left; width: 35px; margin-left: 5px;}
.queue .queueElement .fileName {width: 215px; text-align: right; float: left; margin-right: 5px;}
.queue .queueElement .progressBar {border: 1px solid #000; float: left; width: 250px; height: 8px; margin: 0px 5px 4px 5px;}
.queue .queueElement .progressBar .progress {width: 0%; height: 8px; background: #f00}